# Dépendances
node_modules/

# Build
dist/
build/

# Environnements
.env
.env.local
.env.production
.env.development

# IDE et outils
.vscode/
.idea/

# OS et fichiers inutiles
.DS_Store
Thumbs.db
*.log
*.swp
